






NET "clock" LOC = T3;


NET "step[6]" LOC = D26;
NET "step[5]" LOC = C26;
NET "step[4]" LOC = B24;
NET "step[3]" LOC = A25;
NET "step[2]" LOC = D24;
NET "step[1]" LOC = C25;
NET "step[0]" LOC = B26;



# PlanAhead Generated physical constraints 

NET "input[31]" LOC = L3;
NET "input[30]" LOC = L4;
NET "input[29]" LOC = M3;
NET "input[28]" LOC = M4;
NET "input[27]" LOC = N5;
NET "input[26]" LOC = N3;
NET "input[25]" LOC = N4;
NET "input[24]" LOC = P3;
NET "input[23]" LOC = P5;
NET "input[22]" LOC = R3;
NET "input[21]" LOC = R4;
NET "input[20]" LOC = T4;
NET "input[19]" LOC = U3;
NET "input[18]" LOC = U4;
NET "input[17]" LOC = V3;
NET "input[16]" LOC = V4;
NET "input[15]" LOC = W3;
NET "input[14]" LOC = W5;
NET "input[13]" LOC = L2;
NET "input[12]" LOC = L1;
NET "input[11]" LOC = M1;
NET "input[10]" LOC = N2;
NET "input[9]" LOC = N1;
NET "input[8]" LOC = P1;
NET "input[7]" LOC = R2;
NET "input[6]" LOC = R1;
NET "input[5]" LOC = U2;
NET "input[4]" LOC = U1;
NET "input[3]" LOC = V1;
NET "input[2]" LOC = W2;
NET "input[1]" LOC = W1;
NET "input[0]" LOC = Y5;
NET "output[15]" LOC = F26;
NET "output[14]" LOC = G26;
NET "output[13]" LOC = G25;
NET "output[12]" LOC = H26;
NET "output[11]" LOC = J26;
NET "output[10]" LOC = J25;
NET "output[9]" LOC = G23;
NET "output[8]" LOC = J24;
NET "output[7]" LOC = L24;
NET "output[6]" LOC = K24;
NET "output[5]" LOC = M23;
NET "output[4]" LOC = K26;
NET "output[3]" LOC = L26;
NET "output[2]" LOC = L25;
NET "output[1]" LOC = M26;
NET "output[0]" LOC = N26;
