

NET "cpu_clk" LOC = U26;
NET "reset" LOC = T1;
NET "clock" LOC = T3;
NET "baseram_ce" LOC = AA26;
NET "baseram_oe" LOC = AD17;
NET "baseram_we" LOC = AA25;
NET "ope[31]" LOC = L3;
NET "ope[30]" LOC = L4;
NET "ope[29]" LOC = M3;
NET "ope[28]" LOC = M4;
NET "ope[27]" LOC = N5;
NET "ope[26]" LOC = N3;
NET "ope[25]" LOC = N4;
NET "ope[24]" LOC = P3;
NET "ope[23]" LOC = P5;
NET "ope[22]" LOC = R3;
NET "ope[21]" LOC = R4;
NET "ope[20]" LOC = T4;
NET "ope[19]" LOC = U3;
NET "ope[18]" LOC = U4;
NET "ope[17]" LOC = V3;
NET "ope[16]" LOC = V4;
NET "ope[15]" LOC = W3;
NET "ope[14]" LOC = W5;
NET "ope[13]" LOC = L2;
NET "ope[12]" LOC = L1;
NET "ope[11]" LOC = M1;
NET "ope[10]" LOC = N2;
NET "ope[9]" LOC = N1;
NET "ope[8]" LOC = P1;
NET "ope[7]" LOC = R2;
NET "ope[6]" LOC = R1;
NET "ope[5]" LOC = U2;
NET "ope[4]" LOC = U1;
NET "ope[3]" LOC = V1;
NET "ope[2]" LOC = W2;
NET "ope[1]" LOC = W1;
NET "ope[0]" LOC = Y5;
NET "baseram_data[31]" LOC = AE15;
NET "baseram_data[30]" LOC = AF15;
NET "baseram_data[29]" LOC = AF16;
NET "baseram_data[28]" LOC = AE17;
NET "baseram_data[27]" LOC = AF17;
NET "baseram_data[26]" LOC = AF18;
NET "baseram_data[25]" LOC = AE19;
NET "baseram_data[24]" LOC = AF19;
NET "baseram_data[23]" LOC = AC25;
NET "baseram_data[22]" LOC = AD26;
NET "baseram_data[21]" LOC = AE26;
NET "baseram_data[20]" LOC = AE25;
NET "baseram_data[19]" LOC = AF25;
NET "baseram_data[18]" LOC = AE24;
NET "baseram_data[17]" LOC = AF24;
NET "baseram_data[16]" LOC = AE23;
NET "baseram_data[15]" LOC = AF20;
NET "baseram_data[14]" LOC = AE21;
NET "baseram_data[13]" LOC = AF21;
NET "baseram_data[12]" LOC = AB17;
NET "baseram_data[11]" LOC = AC17;
NET "baseram_data[10]" LOC = AD18;
NET "baseram_data[9]" LOC = AB18;
NET "baseram_data[8]" LOC = AD19;
NET "baseram_data[7]" LOC = AB24;
NET "baseram_data[6]" LOC = Y22;
NET "baseram_data[5]" LOC = AA24;
NET "baseram_data[4]" LOC = Y24;
NET "baseram_data[3]" LOC = AB26;
NET "baseram_data[2]" LOC = AC26;
NET "baseram_data[1]" LOC = AD24;
NET "baseram_data[0]" LOC = AC24;
NET "baseram_addr[19]" LOC = W24;
NET "baseram_addr[18]" LOC = W22;
NET "baseram_addr[17]" LOC = V23;
NET "baseram_addr[16]" LOC = AC23;
NET "baseram_addr[15]" LOC = AA23;
NET "baseram_addr[14]" LOC = AD22;
NET "baseram_addr[13]" LOC = AB22;
NET "baseram_addr[12]" LOC = AD21;
NET "baseram_addr[11]" LOC = AC20;
NET "baseram_addr[10]" LOC = AD20;
NET "baseram_addr[9]" LOC = AC19;
NET "baseram_addr[8]" LOC = AC16;
NET "baseram_addr[7]" LOC = AC15;
NET "baseram_addr[6]" LOC = AD15;
NET "baseram_addr[5]" LOC = AC14;
NET "baseram_addr[4]" LOC = V26;
NET "baseram_addr[3]" LOC = V24;
NET "baseram_addr[2]" LOC = W26;
NET "baseram_addr[1]" LOC = W25;
NET "baseram_addr[0]" LOC = Y26;


NET "step[6]" LOC = D26;
NET "step[5]" LOC = C26;
NET "step[4]" LOC = B24;
NET "step[3]" LOC = A25;
NET "step[2]" LOC = D24;
NET "step[1]" LOC = C25;
NET "step[0]" LOC = B26;


#NET "display[15]" LOC = F26;
#NET "display[14]" LOC = G26;
#NET "display[13]" LOC = G25;
#NET "display[12]" LOC = H26;
#NET "display[11]" LOC = J26;
#NET "display[10]" LOC = J25;
#NET "display[9]" LOC = G23;
#NET "display[8]" LOC = J24;
#NET "display[7]" LOC = L24;
#NET "display[6]" LOC = K24;
#NET "display[5]" LOC = M23;
#NET "display[4]" LOC = K26;
#NET "display[3]" LOC = L26;
#NET "display[2]" LOC = L25;
#NET "display[1]" LOC = M26;
#NET "display[0]" LOC = N26;


#NET "debug" LOC = F26;

# PlanAhead Generated physical constraints 

NET "display[15]" LOC = F26;
NET "display[14]" LOC = G26;
NET "display[13]" LOC = G25;
NET "display[12]" LOC = H26;
NET "display[11]" LOC = J26;
NET "display[10]" LOC = J25;
NET "display[9]" LOC = G23;
NET "display[8]" LOC = J24;
NET "display[7]" LOC = L24;
NET "display[6]" LOC = K24;
NET "display[5]" LOC = M23;
NET "display[4]" LOC = K26;
NET "display[3]" LOC = L26;
NET "display[2]" LOC = L25;
NET "display[1]" LOC = M26;
NET "display[0]" LOC = N26;
