

NET "high_freq_clk" LOC = U26;
NET "low_freq_clk" LOC = T3;
NET "serialport_rxd" LOC = R26;
NET "serialport_txd" LOC = P24;
#NET "serialport_rxd" LOC = P26;
#NET "serialport_txd" LOC = N23;



NET "led[7]" LOC = L24;
NET "led[6]" LOC = K24;
NET "led[5]" LOC = M23;
NET "led[4]" LOC = K26;
NET "led[3]" LOC = L26;
NET "led[2]" LOC = L25;
NET "led[1]" LOC = M26;
NET "led[0]" LOC = N26;

NET "dailing_switch[31]" LOC = L3;
NET "dailing_switch[30]" LOC = L4;
NET "dailing_switch[29]" LOC = M3;
NET "dailing_switch[28]" LOC = M4;
NET "dailing_switch[27]" LOC = N5;
NET "dailing_switch[26]" LOC = N3;
NET "dailing_switch[25]" LOC = N4;
NET "dailing_switch[24]" LOC = P3;
NET "dailing_switch[23]" LOC = P5;
NET "dailing_switch[22]" LOC = R3;
NET "dailing_switch[21]" LOC = R4;
NET "dailing_switch[20]" LOC = T4;
NET "dailing_switch[19]" LOC = U3;
NET "dailing_switch[18]" LOC = U4;
NET "dailing_switch[17]" LOC = V3;
NET "dailing_switch[16]" LOC = V4;
NET "dailing_switch[15]" LOC = W3;
NET "dailing_switch[14]" LOC = W5;
NET "dailing_switch[13]" LOC = L2;
NET "dailing_switch[12]" LOC = L1;
NET "dailing_switch[11]" LOC = M1;
NET "dailing_switch[10]" LOC = N2;
NET "dailing_switch[9]" LOC = N1;
NET "dailing_switch[8]" LOC = P1;
NET "dailing_switch[7]" LOC = R2;
NET "dailing_switch[6]" LOC = R1;
NET "dailing_switch[5]" LOC = U2;
NET "dailing_switch[4]" LOC = U1;
NET "dailing_switch[3]" LOC = V1;
NET "dailing_switch[2]" LOC = W2;
NET "dailing_switch[1]" LOC = W1;
NET "dailing_switch[0]" LOC = Y5;


# PlanAhead Generated physical constraints 

NET "led[15]" LOC = F26;
NET "led[14]" LOC = G26;
NET "led[13]" LOC = G25;
NET "led[12]" LOC = H26;
NET "led[11]" LOC = J26;
NET "led[10]" LOC = J25;
NET "led[9]" LOC = G23;
NET "led[8]" LOC = J24;
